
/* Your CSS Code here. */
.list-style {
	display:flex;
	align-item:center;
	justify-content:space-evenly;
}
h2{
	text-align:center;
}
 li{
	list-style-type:none;
}

li img{
	display:flex;
	justify-content:space-between;
}